body{
background: #fff;
}
html{
  scroll-behavior: smooth;
}
.serviceitem{
min-height: 300px;
}
#map {
height: 400px;
width: 100%;
}
.head{
  border-radius: 10px;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  clip-path: circle(180vh at 50% -80vh);
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: linear-gradient( 45deg ,forestgreen 25% ,orange 75%);
  overflow: hidden;
  z-index: -1000;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: linear-gradient( 45deg ,#333 10% ,#000 50%);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 61%;
  width: 182px;
  height: 182px;
  bottom: -182px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 74%;
  width: 147px;
  height: 147px;
  bottom: -147px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 23%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 85%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 5s;
}
.background li:nth-child(4) {
  left: 20%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 12s;
}
.background li:nth-child(5) {
  left: 63%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 4s;
}
.background li:nth-child(6) {
  left: 23%;
  width: 155px;
  height: 155px;
  bottom: -155px;
  animation-delay: 1s;
}
.background li:nth-child(7) {
  left: 34%;
  width: 188px;
  height: 188px;
  bottom: -188px;
  animation-delay: 5s;
}
.background li:nth-child(8) {
  left: 25%;
  width: 150px;
  height: 150px;
  bottom: -150px;
  animation-delay: 32s;
}
.background li:nth-child(9) {
  left: 50%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 8s;
}
@keyframes animate {
	0%{
	    transform: translateY(0) rotate(0deg);
	    opacity: 1;
	    border-radius: 0;
	}
	100%{
	    transform: translateY(-1000px) rotate(720deg);
	    opacity: 0;
	    border-radius: 50%;
	}
}
#cards{
  margin-top: 50px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  border-top: 2px solid #fff;
  color:rgb(255, 255, 255);
  border-radius: 30px;
  position: relative;
  z-index: 2;
  animation: bounceInDown 1s ease-in-out;
  color:  #fff; 
}

/*Services CSS*/
.services .card{
  background: linear-gradient(-135deg,green 10%,#fff 10%); 
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.services .card::before{
  content: '';
  position: absolute;
  clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%);
  z-index: -1;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0%;
  border-radius: 30px;

}

.services .card i{
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: #fff;
  background: green;
  text-align: center;
}
.services .card h3{
  font-size: 1.5rem;
  padding: 1rem 0;
}

/*Our Team CSS*/
#ca{
  position: relative;
  z-index: 2;
  color:#000;
  border-radius: 30px;
  border-color: lightgray;
}
#ca::before{
  content: '';
  position: absolute;
  z-index: -2;
  border-radius: 10px;
	top:0%;
	left: 0%;
	right: 0;
	bottom: 0%;
	clip-path: circle(15.4% at 51% 100%);
	background: linear-gradient(#f00,#000); 
}
.img1 img{
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}
.img2 img{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  top: 100px;
  border: 2px solid #fff;
  background: #fff;
  backdrop-filter: blur(5px);
}